.root {
	-fx-background-color: white;
}

.label {
	-fx-text-fill: #212529;
	-fx-padding: 15pt;
	-fx-border-color: #c10a27;
	-fx-border-width: 5pt;
	-fx-border-radius: 10pt;
	-fx-font-weight: bold;
	-fx-font-size: 30pt;
}

#zwischenstand .label{
	-fx-padding: 10pt;
	-fx-font-weight: bold;
	-fx-font-size: 20pt;
}


#lblZeit {
	-fx-text-fill: #212529;
	-fx-border-color: none;
	-fx-font-size: 90pt;
}

/*#lblFrage {
	-fx-font-size: 35pt;
}*/

#lblSpieler {
	-fx-font-size: 30pt;
	-fx-border-color: none;
	-fx-font-weight: normal;
}

#lblZwischenstand, #lblEndstand {
	-fx-border-color: none;
}

#hBoxZwischenstand, #hBoxEndstand {
	-fx-border-color: #c10a27;
	-fx-border-width: 5pt;
	-fx-border-radius: 10pt;
	-fx-margin-top: 15pt;
}

#lblReady {
	-fx-text-fill: white;
	-fx-border-color: none;
}

/*/.vBox {
	-fx-padding: 15pt;
	-fx-border-color: red;
	-fx-border-width: 5pt;
	-fx-border-radius: 10pt;
}*/

#labelBox {
	-fx-border-color: #c10a27;
	-fx-border-width: 5pt;
	-fx-border-radius: 10pt;
	}
