.root {
	-fx-background-color: white;
}


#wiss_pane{
    -fx-background-image: url("../res/LogoWISS.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 300 138;
    -fx-background-position: top right;
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); */
}

.button{
	-fx-font-size: 24pt;
}

.spieler1{
	-fx-background-color: #FFAAAA;
}
.spieler2{
	-fx-background-color: #AAFFAA;
}
.spieler3{
	-fx-background-color: #AAAAFF;
}



.label {
	-fx-text-fill: #212529;
	-fx-padding: 15pt;
	-fx-border-color: #c10a27;
	-fx-border-width: 5pt;
	-fx-border-radius: 10pt;
	-fx-font-weight: bold;
	-fx-font-size: 30pt;
}

.zwischenstand .label{
	-fx-padding: 10pt;
	-fx-font-weight: bold;
	-fx-font-size: 30pt;
}

#endergebnis .label{
	-fx-border-color: none;
}


#lblZeit {
	-fx-text-fill: #212529;
	-fx-border-color: none;
	-fx-font-size: 90pt;
}

/*#lblFrage {
	-fx-font-size: 35pt;
}*/

#lblSpieler {
	-fx-font-size: 30pt;
	-fx-border-color: none;
	-fx-font-weight: normal;
}

#lblZwischenstand, #lblEndstand {
	-fx-border-color: none;
}

#hBoxZwischenstand, #hBoxEndstand {
	-fx-border-color: #c10a27;
	-fx-border-width: 5pt;
	-fx-border-radius: 10pt;
	-fx-margin-top: 15pt;
}

#lblReady {
	-fx-text-fill: white;
	-fx-border-color: none;
}

/*/.vBox {
	-fx-padding: 15pt;
	-fx-border-color: red;
	-fx-border-width: 5pt;
	-fx-border-radius: 10pt;
}*/

#labelBox {
	-fx-border-color: #c10a27;
	-fx-border-width: 5pt;
	-fx-border-radius: 10pt;
	}
